<a href="https://colab.research.google.com/github/meesem/Python-PIAIC-72/blob/main/_python_crash_course_assignment_chapters_2_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Part 1: Variables & Input
 ‚úÖ
 Q1. Favorite Movie Intro

In [ ]:
favourite_movie=input("what is your favourite movie:")
print("Ali,s favourite movie is",favourite_movie)
message=f"Alis favourite movie is\n{favourite_movie.title()}"
print(message)

what is your favourite movie:interstellar
Ali,s favourite movie is interstellar interstellar
Alis favourite movie is interstellar
Interstellar

‚úÖ
 Q2. Case Converter

In [ ]:
MY_NAME=("MEESEM")
print(MY_NAME.lower())
print(MY_NAME.upper())
print(MY_NAME.title())

meesem
MEESEM
Meesem

Q3. Simple Math with Input

In [ ]:
number_1=input("enter a first number:")
number_2=input("enter a second number:")
my_number_int=int(number_1)
my_number_int2=int(number_2)
my_number_float=float(number_1)
my_number_float2=float(number_2)
print(my_number_float)
print(my_number_float2)
sum=(my_number_int+my_number_int2)
difference=(my_number_int-my_number_int2)
product=(my_number_int*my_number_int2)
quotient=(my_number_int/my_number_int2)
print(sum,type(sum))
print(difference,type(difference))
print(product,type(product))
print(quotient,type(quotient))

enter a first number:10
enter a second number:5
10.0
5.0
15 <class 'int'>
5 <class 'int'>
50 <class 'int'>
2.0 <class 'float'>

Q4. My Friends List

In [ ]:
my_friends=["haris","ali","fakhar","izhar"]
for friend in my_friends:
  print(f"my best friend are:{friend.title()}")

my best friend are:Haris
my best friend are:Ali
my best friend are:Fakhar
my best friend are:Izhar


 Q5. Update Your List

In [ ]:
fruits=["banana","apple","mango"]
fruits[1]="orange" #replacing on fruit with second
print(fruits)
fruits.append("grapes") #adding one fruit at the end
print(fruits)
fruits.insert(0,"strawbery") #adding one fruit at the beigning
print(fruits)

['banana', 'orange', 'mango']
['banana', 'orange', 'mango', 'grapes']
['strawbery', 'banana', 'orange', 'mango', 'grapes']


 Q6. List Length Reporter

In [ ]:
animal_1=input("enter you favuorite animal:")
animal_2=input("enter you favuorite animal:")
animal_3=input("enter you favuorite animal:")
animal_4=input("enter you favuorite animal:")
animal_5=input("enter you favuorite animal:")
messgae=f"my favourite animals are:\n{animal_1.title()}\n{animal_2.title()}\n{animal_3.title()}\n{animal_4.title()}\n{animal_5.title()}"
print(messgae)

enter you favuorite animal:panad
enter you favuorite animal:tiger
enter you favuorite animal:lion
enter you favuorite animal:cat
enter you favuorite animal:dog
my favourite animals are:
Panad
Tiger
Lion
Cat
Dog

In [ ]:
2-Store each animal in a list.

In [ ]:
animals=[]
for i in range(5):
  name=input(f"Enter your animal name {i+1}:")
  animals.append(name)
print("list of animals",animals)

Enter your animal name 1:lion
Enter your animal name 2:cat
Enter your animal name 3:tiger
Enter your animal name 4:cheeta
Enter your animal name 5:monkey
list of animals ['lion', 'cat', 'tiger', 'cheeta', 'monkey']

In [ ]:
# Ask the user how many animals they want to enter
count = int(input("How many animal names would you like to enter? "))

# Create an empty list to store the names
animals = []

# Loop to collect animal names
for i in range(count):
    name = input(f"Enter the name of animal {i + 1}: ")
    animals.append(name)

# Show the final list
print("List of animals:", animals)

How many animal names would you like to enter? 5
Enter the name of animal 1: tiger
Enter the name of animal 2: cheetah
Enter the name of animal 3: monkey
Enter the name of animal 4: goat
Enter the name of animal 5: lkion
List of animals: ['tiger', 'cheetah', 'monkey', 'goat', 'lkion']

 Print the total number of animals

In [ ]:
print(len(animals))

5

 6-Print the first and last animal using indexing

In [ ]:
animals[0]

'tiger'

In [ ]:
animals[4]

'lkion'

Part 3: For Loops & Ranges

In [ ]:
# Print numbers from 1 to 10
for numbers in range(0,11):
  print(numbers)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#we can also print in reverse order in same line
for numbers in range(0,11):
  print(numbers, end=' ')

0 1 2 3 4 5 6 7 8 9 10

Print even numbers from 2 to 20

In [ ]:
# prompt: Print even numbers from 2 to 20

for number in range(2, 21, 2):
  print(number)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#we can also print it in same line
for number in range(2,21,2):
  print(number,end=' ')

2 4 6 8 10 12 14 16 18 20

# **print multiples of 5 from 5 to 50**

In [ ]:
for numbers in range(5,51,5):
  print(numbers,end=' ')

5 10 15 20 25 30 35 40 45 50

‚úÖ
# Q8. Squares ***Table***

In [ ]:
for numbers in range(0,11):
  square=numbers**2
  print(f"the square of {numbers} is {square}")

the square of 0 is 0
the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25
the square of 6 is 36
the square of 7 is 49
the square of 8 is 64
the square of 9 is 81
the square of 10 is 100

In [ ]:
#another method using list
square=[]
for numbers in range(0,11):
  square.append(numbers**2)
print(f"square of numbers=",square)

square of numbers= [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


 Q9. Make a List of Cubes

In [2]:
cubes = []
for x in range(1, 6):
    cubes.append(x**3)
print(cubes)

[1, 8, 27, 64, 125]

In [3]:
cubes = [x**3 for x in range(1, 6)]
print(cubes)

[1, 8, 27, 64, 125]


 Q10. Top 3 Movies

In [6]:
movie_names=[]
movie_1=input("enter your favourite movie:")
movie_2=input("enter your favourite movie:")
movie_3=input("enter your favourite movie:")
movie_4=input("enter your favourite movie:")
movie_5=input("enter your favourite movie:")
movie_names.append(movie_1)
movie_names.append(movie_2)
movie_names.append(movie_3)
movie_names.append(movie_4)
movie_names.append(movie_5)
print(movie_names)
print(movie_names[0:3])
print(movie_names[3:5])

enter your favourite movie:titanic
enter your favourite movie:sea level
enter your favourite movie:loveable
enter your favourite movie:the hero
enter your favourite movie:mute
['titanic', 'sea level', 'loveable', 'the hero', 'mute']
['titanic', 'sea level', 'loveable']
['the hero', 'mute']

Q11.
ÔøΩ
ÔøΩ‚Äçüè´
 Top Students

In [14]:
students=[]
student_1=input("enter your name:")
student_2=input("enter your name:")
student_3=input("enter your name:")
student_4=input("enter your name:")
student_5=input("enter your name:")
students.append(student_1)
students.append(student_2)
students.append(student_3)
students.append(student_4)
students.append(student_5)
print(students)
for student in students:
  print(f"hello!{student.title()}")
print(students[0:2])
copied=students.copy()
for item in copied:
  print(item)

enter your name:meesem
enter your name:ali
enter your name:irtiza
enter your name:moon
enter your name:aoun
['meesem', 'ali', 'irtiza', 'moon', 'aoun']
hello!Meesem
hello!Ali
hello!Irtiza
hello!Moon
hello!Aoun
['meesem', 'ali']
meesem
ali
irtiza
moon
aoun

‚úÖ
 Q12.
‚úà
 Travel WishlisT

In [1]:
whish_list=[]
destination_1=input("enter your destination:")
destination_2=input("enter your destination:")
destination_3=input("enter your destination:")
destination_4=input("enter your destination:")
destination_5=input("enter your destination:")
whish_list.append(destination_1)
whish_list.append(destination_2)
whish_list.append(destination_3)
whish_list.append(destination_4)
whish_list.append(destination_5)
print(whish_list)
sorted_list=sorted(whish_list)
print(sorted_list)

enter your destination:murree
enter your destination:abotabad
enter your destination:kashmir
enter your destination:london
enter your destination:nathiyagali
['murree', 'abotabad', 'kashmir', 'london', 'nathiyagali']
['abotabad', 'kashmir', 'london', 'murree', 'nathiyagali']

In [2]:
# prompt: Sort the list in reverse alphabetical order using

whish_list.sort(reverse=True)
print(whish_list)

['nathiyagali', 'murree', 'london', 'kashmir', 'abotabad']

In [3]:
# prompt: Use
# .reverse() twice:

whish_list.reverse()
print(whish_list)
whish_list.reverse()
whish_list

['abotabad', 'kashmir', 'london', 'murree', 'nathiyagali']

['nathiyagali', 'murree', 'london', 'kashmir', 'abotabad']