<a href="https://colab.research.google.com/github/meesem/Python-PIAIC-72/blob/main/Python_Crash_Course_Ch2_Ch3_Practice_meesemtumar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1-Create a variable called greeting and store any message. Print it.

In [ ]:
greeting="hello world"
print(greeting)

hello world

2-Change the value of greeting to a new message. Print the updated message.

In [ ]:
greeting = "hello python world"
print(greeting)

hello python world

3-Create two variables first_name and last_name. Combine them into a full name using an f-string.

In [ ]:
first_name="meesem"
last_name="tumar"
full_name=f"{first_name} {last_name}"
print(full_name)

meesem tumar

In [ ]:
first_name="meesem"
last_name="tumar"
full_name=f"{first_name} {last_name}"
message=f"hello, {full_name.title()}!"
print(message)

hello, Meesem Tumar!

In [ ]:
first_name="nigah"
last_name="fatima"
full_name=f"{first_name} {last_name}"
message=f"hello,{full_name.title()}!"
print(message)

hello,Nigah Fatima!

In [ ]:
first_name="\taoun"
last_name="\nabbas"
full_name=f"{first_name} {last_name}"
message=f"hello,{full_name.title()}!"
print(message)

hello,	Aoun
Abbas!

In [ ]:
favourite_language="urdu "
favourite_language=favourite_language.rstrip()
print(favourite_language)

urdu

4-Print a quote along with the author's name using an f-string.

In [ ]:
quote = "The only way to do great work is to love what you do."
author = "Steve Jobs"
print(f"{author} once said,\"{quote}\"")

Steve Jobs once said,"The only way to do great work is to love what you do."

5-Store a person's name with extra spaces. Strip the spaces before printing.

In [ ]:
my_name="meesem "
my_name=my_name.rstrip()
print(my_name)

meesem

6-Take a number, add 5, multiply by 2, subtract 3, and print the final result.

In [ ]:
number=72
result=(number+5)*2-3
print(result)

151

7-Create two numbers a and b and print their sum, difference, product, and quotient.

In [ ]:
number_1=10
number_2=20
sum=(number_1+number_2)
difference=(number_1-number_2)
product=(number_1*number_2)
quotient=(number_1/number_2)
print(f"sum:{sum}\ndifference:{difference}\nproduct:{product}\nquotient:{quotient}")

sum:30
difference:-10
product:200
quotient:0.5

8-Find the square and cube of a number using the ** operator.

In [ ]:
number=3
number=3
squre=number**2
cube=number**3
print(f"squre:{squre}\ncube:{cube}")

squre:9
cube:27

9-Print the sum of three floating-point numbers.

In [ ]:
num1 = 1.5
num2 = 2.5
num3 = 3.0
sum_of_numbers = num1 + num2 + num3
sum_of_numbers

7.0

10-Assign three variables x, y, z in a single line and print them.

In [ ]:
x, y, z = 10, 20, 30
print(x, y, z)

In [ ]:
a,b,c="meesem","ali","irtiza"
print(f"a:{a.title()}\nb:{b.title()}\nc:{c.title()}")

a:Meesem
b:Ali
c:Irtiza