<a href="https://colab.research.google.com/github/meesem/Python-PIAIC-72/blob/main/%EF%BF%BD_%EF%BF%BD_Python_Crash_Course_Assignment_(Chapters_2%E2%80%934).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Part 1: Variables & Input
 ✅
 Q1. Favorite Movie Intro

In [ ]:
favourite_movie=input("what is your favourite movie:")
print("Ali,s favourite movie is",favourite_movie)
message=f"Alis favourite movie is\n{favourite_movie.title()}"
print(message)

what is your favourite movie:interstellar
Ali,s favourite movie is interstellar interstellar
Alis favourite movie is interstellar
Interstellar

✅
 Q2. Case Converter

In [ ]:
MY_NAME=("MEESEM")
print(MY_NAME.lower())
print(MY_NAME.upper())
print(MY_NAME.title())

meesem
MEESEM
Meesem

Q3. Simple Math with Input

In [17]:
number_1=input("enter a first number:")
number_2=input("enter a second number:")
my_number_int=int(number_1)
my_number_int2=int(number_2)
my_number_float=float(number_1)
my_number_float2=float(number_2)
print(my_number_float)
print(my_number_float2)
sum=(my_number_int+my_number_int2)
difference=(my_number_int-my_number_int2)
product=(my_number_int*my_number_int2)
quotient=(my_number_int/my_number_int2)
print(sum,type(sum))
print(difference,type(difference))
print(product,type(product))
print(quotient,type(quotient))

enter a first number:10
enter a second number:5
10.0
5.0
15 <class 'int'>
5 <class 'int'>
50 <class 'int'>
2.0 <class 'float'>

Q4. My Friends List

In [21]:
my_friends=["haris","ali","fakhar","izhar"]
for friend in my_friends:
  print(f"my best friend are:{friend.title()}")

my best friend are:Haris
my best friend are:Ali
my best friend are:Fakhar
my best friend are:Izhar


 Q5. Update Your List

In [23]:
fruits=["banana","apple","mango"]
fruits[1]="orange" #replacing on fruit with second
print(fruits)
fruits.append("grapes") #adding one fruit at the end
print(fruits)
fruits.insert(0,"strawbery") #adding one fruit at the beigning
print(fruits)

['banana', 'orange', 'mango']
['banana', 'orange', 'mango', 'grapes']
['strawbery', 'banana', 'orange', 'mango', 'grapes']